DATABASE_URL=postgres://postgres:postgres@localhost:5432/rust-server-template-for-nuxt-frontend-template

BASE_URL=http://localhost:3000

SMTP_HOST=smtp.example.com
SMTP_USER=template@example.com
SMTP_PASS=password
SMTP_FROM=template@example.com
